In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pydataset import data
import env

In [3]:
df = data('tips')

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df['yhat_baseline'] = df.total_bill.mean()

In [7]:
df = df.drop(columns = {'sex', 'smoker', 'day', 'time', 'size'})
df.head()

   total_bill   tip  yhat_baseline
1       16.99  1.01      19.785943
2       10.34  1.66      19.785943
3       21.01  3.50      19.785943
4       23.68  3.31      19.785943
5       24.59  3.61      19.785943